<div class="container-fluid" id="wrapper">
    <h2><i>Scraped Articles</i></h2>

    <ul class="unsaved">
        {{#each headlines}}

            <li data-headline-id={{_id}} class="list-group-item">
        
                <div><a href={{link}} target="_blank">{{headline}}</a></div>
        
                <div>{{description}}</div>
        
                <button id="save-btn">&hearts;</button>
        
            </li>
        {{/each}}
    </ul>
</div>