/* body {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e8/Amazon_jungle_from_above.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
} */

#wrapper {
    margin-top: 60px;
}

#save-btn,
#unsave {
    cursor: pointer;
}